body {
  font-family: Helvetica, sans-serif;
  padding: 5%;
  text-align: center;
}

#slideshow {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.slide-wrapper {
  width: 500%;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 10%;
  width: 20%;
}

.slide:nth-child(1) {
  background: #FFFFFF;
}

.slide:nth-child(2) {
  background: #FFFFFF;
}

.slide:nth-child(3) {
  background: #FFFFFF;
}

.slide:nth-child(4) {
  background: #FFFFFF;
}

.slide-number {
  color: #000;
  text-align: center;
  font-size: 10em;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -100%;}
  50% {margin-left: -100%;}
  60% {margin-left: -200%;}
  70% {margin-left: -200%;}
  80% {margin-left: -300%;}
  90% {margin-left: -300%;}
}
