---
layout: compress
---

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>
                <!-- picture -->
                <div class="container">
                    <a href="/assets/gallery/MTA.pdf"><img src="/assets/gallery/MTA.jpg" alt="Avatar" class="image"><a>
                    <div class="overlay">
                        <div class="text">
                            <strong>MTA nucleosidase</strong> <br> PDB IDs : 2H8G, 3BSF <br> <em>PROTEINS</em> 65, 519-523(2006)
                        </div>
                    </div>
                </div>
                <!-- picture end -->
                <hr class="hr-line">
                <!-- picture -->
                <div class="container">
                    <a href="http://www.nature.com/nsmb/journal/v17/n4/abs/nsmb.1787.html"><img src="/assets/gallery/zbd.jpg" alt="Avatar" class="image"><a>
                    <div class="overlay">
                        <div class="text">
                            <strong>Zinc binding domain of ClpX</strong> <br> PDB IDs : 2DS5, 2DS6, 2DS7, 2DS8 <br> <em>J. Mol. Biol.</em> 367, 514-526(2007)
                        </div>
                    </div>
                </div>
                <!-- picture end -->
                <hr class="hr-line">        
                <!-- picture -->
                <div class="container">
                    <a href="http://www.nature.com/ncb/journal/v5/n2/abs/ncb920.html"><img src="/assets/gallery/fss.jpg" alt="Avatar" class="image"><a>
                    <div class="overlay">
                        <div class="text"><strong>Fyn-SAP-SLAM complex</strong> <br> PDB ID : 1M27 <br> <em>Nature Cell Biol.</em> 5, 155-160(2003)</div>
                    </div>
                </div>
                <!-- picture end -->
                <hr class="hr-line">        
                <!-- picture -->
                <div class="container">
                    <a href="/assets/gallery/g-sspb-hks.pdf"><img src="/assets/gallery/sspb.jpg" alt="Avatar" class="image"><a>
                    <div class="overlay">
                        <div class="text"><strong>SspB-ssrA complex</strong> <br> PDB IDs : 1OX8, 1OX9 <br> <em>Mol.Cell</em> 12, 75-86(2003)</div>
                    </div>
                </div>
                <!-- picture end -->                     
                <hr class="hr-line">                 
                <!-- picture -->
                <div class="container">
                    <a href="http://www.nature.com/nature/journal/v403/n6771/abs/403800a0.html"><img src="/assets/gallery/hsi.jpg" alt="Avatar" class="image"><a>
                    <div class="overlay">
                        <div class="text"><strong>HslBU complex</strong> <br> PDB IDs : 1DO0, 1DO2, 1E94, 1M4Y <br> <em>Nature</em> 403, 800-805(2000) <br> and etc.</div>
                    </div>
                </div>
                <!-- picture end -->
                <hr class="hr-line">        
                <!-- picture -->
                <div class="container">
                    <a href="http://www.jbc.org/content/276/52/49359.full"><img src="/assets/gallery/ure.jpg" alt="Avatar" class="image"><a>
                    <div class="overlay">
                        <div class="text"><strong>UreE(Metallochaperone)</strong> <br> PDB IDs : 1GMU, 1GMV, 1GMW <br> <em>J. Biol. Chem.</em> 276, 49359-49364(2001)</div>
                    </div>
                </div>
                <!-- picture end -->
                <hr class="hr-line">    
                <!-- picture -->
                <div class="container">
                    <a href="http://www.sciencedirect.com/science/journal/00222836/293/4?sdc=1"><img src="/assets/gallery/ypd.jpg" alt="Avatar" class="image"><a>
                    <div class="overlay">
                        <div class="text"><strong>Ypd1p(Yeast Phosphorelay intermediate protein</strong> <br> PDB IDs : 1C02, 1C03 <br> <em>J. Mol. Biol.</em> 293, 753-761(1999)</div>
                    </div>
                </div>
                <!-- picture end -->
                <hr class="hr-line">    
                <!-- picture -->
                <div class="container">
                    <a href="http://onlinelibrary.wiley.com/doi/10.1093/emboj/18.5.1104/abstract)"><img src="/assets/gallery/tch.jpg" alt="Avatar" class="image"><a>
                    <div class="overlay">
                        <div class="text"><strong>T4 dCMP hydroxymethylase</strong> <br> PDB IDs : 1B49, 1B5D, 1B5E <br> <em>EMBO J.</em> 18, 1104-1113(1999)</div>
                    </div>
                </div>
                <!-- picture end -->
                <hr class="hr-line">        
                <!-- picture -->
                <div class="container">
                    <a href="http://www.sciencedirect.com/science/journal/00222836/275/2?sdc=1)"><img src="/assets/gallery/ksti.jpg" alt="Avatar" class="image"><a>
                    <div class="overlay">
                        <div class="text"><strong>Kunitz-type soybean trypsin inhibitor</strong> <br> PDB IDs : IAVU, 1AVW, 1AVX <br> <em>J. Mol. Biol.</em> 275, 347-363(1998)</div>
                    </div>
                </div>
                <!-- picture end -->
                <hr class="hr-line">        
                <!-- picture -->
                <div class="container">
                    <a href="http://www.sciencedirect.com/science/journal/00222836/343/1?sdc=1)"><img src="/assets/gallery/bb.jpg" alt="Avatar" class="image"><a>
                    <div class="overlay">
                        <div class="text"><strong>Barley Bowman-Birk inhibitor</strong> <br> PDB IDs : 1C2A, 1TX6 <br> <em>J. Mol. Biol.</em> 293, 1133-1144(1999) <br> <em>J. Mol. Biol.</em> 343, 173-186(2004)</div>
                    </div>
                </div>
                <!-- picture end -->     
            </div>
        </div>
        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</body>
</html>
