---
layout: compress
---

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
    
<head>
    {% include head.html %}
    <!--<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>-->
</head>
    
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                <div class="col-6">
                       <h3 class="title">
                         <a class="zoombtn" href="{{ site.url }}">
                         	<img src="/assets/img/lsb headder.jpg">
 			            </a>
                     </h3>
                     <hr class="hr-line">
                     <h3 class="title">
                         <a href="{{ site.url }}">
                         	<p style="font-size:0.9rem;font-weight:300">{{ site.bio }}</p>
                			            </a>
                  <hr class="hr-line">
                  <h3 class="title">                       
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         About LSB
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/members">
                         Members
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/publications">
                         Publications
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/protocols">
                         Protocols
                         </a>
                  </h3>
                    <hr class="hr-line">                    
                    <p style="font-size:1.1rem;font-weight:400">Recent Posts</p>                    
                     {% for post in site.posts limit:4 %} 
                        {% if post.project == null %}
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <p style="text-align:left;font-size:0.9rem;font-weight:300">
                            <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                            <a style="float:right;font-size:0.6rem;font-weight:300">{{ post.date }}</a>
                            </p>
                        </li>
                    </ul>
                        {% endif %}
                    {% endfor %}                   
                </div>
                <div class="col-6">
                <div id="slideshow">
                    <div class="slide-wrapper">
                        <div class="slide"><img src="/assets/img/home1.png">Electron density map</div>
                        <div class="slide"><img src="/assets/img/home2.png">Chitinase</div>
                        <div class="slide"><img src="/assets/img/home3.png">HslV-HslU complex</div>
                        <div class="slide"><img src="/assets/img/home4.jpg">Protein Crystals</div>
                        <div class="slide"><h1 class="slide-number">5</h1></div>
                    </div>
                </div>
                <hr class="hr-line">
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <!--<script src="assets/js/popup.js"></script>-->

</body>
</html>
