---
layout: compress
---

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>              
            </div>
          <div class="row"> 
            <div class="col-6">
               <!-- picture -->
                <div class="container">
                    <a href="/assets/lab/180509.jpg"><img src="/assets/lab/180509.jpg" alt="Avatar" class="image"><a>
                    <div class="overlay">
                        <div class="text">
                            <strong>May. 2018</strong> <br> Having Get-together for lunch
                        </div>
                    </div>
                </div>               
                <hr class="hr-line">
                     <!-- picture end -->    
              <!-- picture -->
                <div class="container">
                    <a href="/assets/lab/170606.jpg"><img src="/assets/lab/170606.jpg" alt="Avatar" class="image"><a>
                    <div class="overlay">
                        <div class="text">
                            <strong>June. 2017</strong> <br> The Farewell for Shelby
                        </div>
                    </div>
                </div>               
                <hr class="hr-line">
                     <!-- picture end -->
            </div>
            <div class="col-6">
                 <!-- picture -->
                <div class="container">
                    <a href="/assets/lab/180417.jpg"><img src="/assets/lab/180417.jpg" alt="Avatar" class="image"><a>
                    <div class="overlay">
                        <div class="text">
                            <strong>December. 2017</strong> <br> The Year-End Party of LSB
                        </div>
                    </div>
                </div>
                <hr class="hr-line">
                     <!-- picture end -->
                <!-- picture -->
                <div class="container">
                    <a href="/assets/lab/171227.jpg"><img src="/assets/lab/171227.jpg" alt="Avatar" class="image"><a>
                    <div class="overlay">
                        <div class="text">
                            <strong>December. 2017</strong> <br> The Year-End Party of LSB
                        </div>
                    </div>
                </div>
                <hr class="hr-line">
                     <!-- picture end -->
            </div> 
          </div>
        </div>
        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</body>
</html>
